/* Wrapper for the color display above the sliders */
.selectedColorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
/* Display for the currently selected color */
.selectedColorDisplay {
  padding: 15px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.selectedColorText {
  font-size: 2em;
}

.colorPickerApp {
  margin: 0 auto;
  padding: 24px;
}

.colorPickerRow {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
}
